/* NAVIGATION ALL BREAKPOINTS */
nav ul.dropdown {
	list-style: none;
}
.nav-primary-style {
	list-style: none;
}
li.item {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 20;
}
li.item .arrow {
	position: absolute;
	top: 2px;
	right: 0;
}
li.item.has-dropdown > .arrow::before {
	content: "+"
}
.nav-primary-style li.item ul {
	height: 0;
	overflow: hidden;
}
.nav-primary-style li.item.active ul.dropdown {
	height: auto;
	margin: 0;
}
.nav-primary-style li.item.active ul.dropdown li.item {
	padding-left: 15px;
}
.nav-primary-style li.item.active > ul.dd {
	height: auto;
	margin-left: 9px;
}
.nav-primary-style li.item {
	font-family: "proxima-nova",sans-serif;
	font-weight: 300;
	font-size: 17px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.nav-primary-style .dropdown-items > li.item {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	padding-bottom: 11px;
	margin-bottom: 13px;
}
.nav-primary-style .dropdown-items .dd li.item {
	margin: 0;
	padding-top: 15px;
	text-transform: none;
}
.nav-primary-style .dropdown-items .dd li.item > .arrow {
	top: 16px;
}




/* NAVIGATION MOBILE CONTAINER */
nav.mobile {
	background-color: rgba(0,78,114,0.9);
	margin: 0;
	padding: 15px 25px 40px;
	position: absolute;
	right: 0;
	width: 100%;
	top: calc(100% + 5px);
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s ease-in-out;
}
.mobile-container.active nav.mobile {
	opacity: 1;
	pointer-events: auto;
}
nav.mobile.active {
	opacity: 1;
	pointer-events: auto;
}
nav.mobile .actions-panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	margin-bottom: 20px;
	height: 35px;
}
nav.mobile .actions-panel > * {
	flex: 1 1 50%;
	font-family: "proxima-nova", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1;
	text-transform: uppercase;
	color: #fff;
}
.actions-panel a.booking-link,
.actions-panel form {
	position: relative;
	z-index: 39;
}
.actions-panel input {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
}
.actions-panel input[type="search"]:focus {
	background-color: transparent;
	border: none;
}
.actions-panel input::placeholder {
	font-family: "proxima-nova", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
}
.actions-panel form button {
	position: absolute;
	top: 10px;
	right: 17px;
	color: #fff;
	font-size: 14px;
}
.actions-panel a.booking-link {
	text-align: right;
}
.actions-panel::before {
	content: "";
	left: -40px;
	right: calc(50% + 1.5px);
	height: 100%;
	position: absolute;
	background-color: #00bfd7;
	transform: skew(-15deg);
}
.actions-panel::after {
	content: "";
	right: -40px;
	left: calc(50% + 1.5px);
	height: 100%;
	position: absolute;
	background-color: #a4aa84;
	transform: skew(-15deg);
}
nav.mobile .nav-primary-style > li.item {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	padding-bottom: 11px;
	margin-bottom: 13px;
}
nav.mobile .nav-primary-style > li.item:last-child {
	border-bottom: none;
	margin-bottom: 20px;
}
nav.mobile .nav-primary-style > li.item.active {
	padding: 0;
	margin: 0;
	border-bottom: none;
}
nav.mobile .nav-primary-style > li.item.active > a {
	padding-bottom: 20px;
}

ul.nav-footer-style {
	text-align: center;
	list-style: none;
}
ul.nav-footer-style li.item {
	font-family: "proxima-nova", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1;
	color: #004e72;
	margin-bottom: 15px;
	display: block;
}
@media only screen and (max-width: 40em) {
	.actions-panel::before {
		display: none;
	}
}

/* NAVIGATION TABLET */
@media only screen and (min-width: 40.063em) {
	nav.mobile {
		width: 320px;
	}
	
	ul.nav-footer-style {
		text-align: right;
		margin-top: 75px;
	}
}




/* NAVIGATION DESKTOP */
@media only screen and (min-width: 64.063em) {
	.nav-primary-style > li.item {
		display: inline-block;
		color: #004e72;
		font-size: 18px;
		letter-spacing: 2.2px;
		margin-right: 21px;
	}
	.nav-primary-style > li.item:hover > .arrow {
		top: 0;
		height: 55px;
		width: 100%;
	}
	.nav-primary-style > li.item > .arrow::before {
		content: "";
	}
	header nav.desktop ul.nav-primary-style li.item {
		pointer-events: auto;
	}
	.nav-primary-style >  li.item:hover {
		color: #00bfd7;
		font-weight: 400;
		z-index: 29;
	}
	nav.mobile .nav-primary-style li.item {
		color: #fff;
	}
	.nav-primary-style > li.item > ul {
		position: absolute;
		left: 50%;
		transform: translate(-33.333%, 24px);
	}
	.nav-primary-style > li.item.active > ul.dropdown, .nav-primary-style > li.item:hover >  ul.dropdown {
		height: auto;
		padding: 20px 25px;
		width: 288px;
	}
	nav.desktop ul.dropdown {
		background-color: rgba(0,78,114,0.9);
		margin: 0;
		padding: 0 25px;
	}
	nav.desktop ul.dropdown li.item {
		color: #fff;
	}
	nav.desktop .item:hover > a { z-index: 100001; }
	nav.desktop .item:hover .dropdown-support {
		position: absolute;
		z-index: 100000;
		top: 0;
		left: -600px;
		width: 1200px;
		height: 70px;
		transition: transform .6s;
		transform: scaleY(0);
		transform-origin: center bottom;
	}
	nav.desktop .item > a:hover + .dropdown-support {
		transition: none;
		transform: scaleY(1);
	}
	
	nav.desktop a.booking-link {
		font-family: "proxima-nova", sans-serif;
		font-weight: 300;
		font-size: 21px;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: block;
		position: relative;
		font-family: "proxima-nova", sans-serif;
		color: #fff;
		margin: 0 -10px;
	}
	nav.desktop a.booking-link::before {
		content: "";
		display: block;
		position: absolute;
		top: -8px;
		right: -15px;
		bottom: -8px;
		left: -15px;
		z-index: -1;
		background-color: #a4aa84;
		-ms-transform: skewX(-15deg); /* IE 9 */
		-webkit-transform: skewX(-15deg); /* Safari */
		transform: skewX(-15deg); /* Standard syntax */
	}
}




/* INTERIOR NAV */
.nav-share-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: calc(100% - 1.815rem);
	max-width: 1250px;
	margin: 5px auto 35px;
}
.details .nav-share-wrapper {
	justify-content: space-between;
}
.nav-share-wrapper ul.nf-breadcrumbs {
	list-style: none;
	padding: 7.5px 0;
	border-radius: 6px;
	display: none;
}
.nav-share-wrapper ul.nf-breadcrumbs li::after {
	content: "";
	display: inline-block;
	margin: 0 7px;
	background-color: #919191;
	font-weight: 700;
	height: 12px;
	width: 1px;
}

.nav-share-wrapper ul.nf-breadcrumbs li:last-child::after {
	display: none;
}
.nav-share-wrapper ul.nf-breadcrumbs li.item {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	color: #919191;
	letter-spacing: 1.2px;
	display: inline-block;
	text-transform: uppercase;
}
.nav-share-wrapper a.back-link {
	font-family: "proxima-nova", sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1;
	color: #919191;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.nav-share-wrapper a.back-link i.fa {
	color: #00c2d9;
}
.nav-share-wrapper .share {
	position: relative;
	font-family: "proxima-nova", sans-serif;
	font-weight: 300;
	font-size: 13px;
	color: #333;
	text-transform: uppercase;
	display: block;
	padding: 9px 20px;
}
.nav-share-wrapper .share a i.fa {
	color: #00bfd7;
	margin-left: 5px;
}
.nav-share-wrapper .share::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #00bfd7;
	transform: skewX(-10deg) translate(-50%, -50%);
	z-index: 1;
}
@media only screen and (max-width: 40em) {
	.details .nav-share-wrapper {
		margin-top: 30px;
	}
}
@media only screen and (min-width: 40.063em) {
	.nav-share-wrapper {
		margin: 35px auto;
		justify-content: space-between;
	}
	.interior .nav-share-wrapper {
		margin: 45px auto ;
	}
	.nav-share-wrapper ul.nf-breadcrumbs {
		display: inline-block;
	}
}

@media only screen and (max-width: 76.25em) {
	.nav-primary-style > li.item {
		margin-right: calc(4px + (21 - 4) * ((100vw - 1024px) / (1220 - 1024)));
	}
	nav.desktop .nav-spacer:first-child {
		margin-left: calc(-120px + (-10 - -120) * ((100vw - 1024px) / (1220 - 1024)));
	}
}