/*

CHEAT SHEET

font-family: ;
font-style: ;
font-weight: ;

#004e72
#a4aa84
#00bfd7


One Column
display: block;
width: calc(100% - 1.815rem);
max-width: 1250px;
margin: 0 auto;

Medium Up
min-width 641px
@media only screen and (min-width: 40.063em) { }

Large Up
min-width 1025px
@media only screen and (min-width: 64.063em) { }

Medium Only
min-width 641px - max-width 1024px
@media only screen and (min-width: 40.063em) and (max-width: 64em) { }
/*
|-----------------------------------------------------------------------------------------------------------
| RESET STYLES
|-----------------------------------------------------------------------------------------------------------
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,center,dl,
dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
	display: block;
}

body {
	line-height: 1;
}

p ol,
p ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
button,
button:hover,
button:focus,
.button,
.button:hover,
.button:focus {
	margin: 0;
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	color: #333;
}

/* BODY/MAIN */

body {
	background-color: #fff;
	font-family: "proxima-nova",sans-serif;
	color: #333;
}
.wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	display: block;
	font-size: 16px;
	color: #333;
	overflow: hidden;
}
a,
a:link,
a:visited,
a:focus {
	font-weight: 700;
	text-decoration: none;
	color: #00bfd7;
	font-family: inherit;
	-webkit-transition: color 225ms ease-in-out;
	-moz-transition: color 225ms ease-in-out;
	-o-transition: color 225ms ease-in-out;
	transition: color 225ms ease-in-out;
}
a:hover {
	color: #0078a0;
	text-decoration: none;
}
h1 {
	color: red;
	font-size: 26px;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 100;
	line-height: 1;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 18px;
}
h2 {
	color: blue;
	font-size: 22px;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
}
h3 {
	color: green;
	font-size: 32px;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 100;
	line-height: 45px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
p {
	color: #333;
	font-size: 17px;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 1.9;
	letter-spacing: 0.2px;
	margin-bottom: 30px;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a,
.item > a,
.share > a,
.location > a,
address > a,
address p > a  {
	font: inherit !important;
	color: inherit !important;
	text-decoration: none;
	position: relative;
	z-index: 9;
	display: inline-block;
}
body .wrapper .row {
	max-width: 1280px;
}
a.logo {
	display: block;
	max-width: 196px;
	margin-left: 0.9075rem;
}
.homepage .intro-panel {
}
.homepage .intro-panel h1 {
}
.homepage .intro-panel p {
}
.intro-panel {
}
.intro-panel h1 {
}
.panel-one-col,
.panel-two-col-right,
.panel-one-col-offset,
.panel-one-col-offset-wide,
.panel-two-col-left {
	display: block;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 0.9075rem;
	position: relative;
	z-index: 2;
}
[class$="slider"] + [class$="arrows"] button {
	display: block;
	position: relative;
	width: 105px;
	height: 38px;
	font-size: 12px;
	font-weight: 300;
	line-height: 1;
	color: #333;
	padding: 0;
	margin: 0 5px;
}
[class$="slider"] + [class$="arrows"] button span,
[class$="slider"] + [class$="arrows"] button i {
	position: relative;
	z-index: 2;
}
[class$="slider"] + [class$="arrows"] button::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	background-color: #888;
	transform: translate(-50%, -50%);
	z-index: 1;
}

/* MEDIUM UP */
@media only screen and (min-width: 40.063em) {
	h1 {
		font-size: 46px;
		font-weight: 100;
		line-height: 53px;
		margin-bottom: 20px;
	}
	h2 {
		font-size: 22px;
		font-weight: 400;
		line-height: 1;
		margin-bottom: 15px;
	}
	h3 {
		font-size: 32px;
		font-weight: 100;
		line-height: 45px;
	}
	p {
		font-size: 19px;
		font-weight: 300;
		line-height: 1.9;
		margin-bottom: 45px;
	}
	.intro-panel {
		margin: 0 auto 100px;
	}
	.homepage .intro-panel {
		padding-left: 15.3%;
		max-width: 1060px;
	}
	.homepage .intro-panel h1 {
		font-size: 36px;
		line-height: 1.3;
	}
	.homepage .intro-panel p {
		letter-spacing: 0.7px;
		font-size: 18px;
	}
	.panel-one-col {
		display: block;
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 0.9075rem;
		float: left;
		clear: both;
	}
	.panel-one-col-offset {
		display: block;
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 8.333% 0 22%;
	}
	.panel-one-col-offset-wide {
		display: block;
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 0.9097rem 0 22%;
	}
	.panel-two-col-left {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: center;
		width: 100%;
		max-width: 1085px;
		margin: 0 auto;
		padding: 0 1.815rem;
	}
	.panel-two-col-left > div:nth-of-type(1) {
		flex: 0.666 1;
		flex-basis: 369px;
		margin-right: 0.9075rem;
	}
	.panel-two-col-left > div:nth-of-type(2) {
		flex: 1.5 1;
		flex-basis: 564px;
		margin-left: 0.9075rem;
	}
	.panel-two-col-right {
		display: flex;
		width: calc(100% - 1.815rem);
		max-width: 970px;
		margin: 0 auto;
	}
	.panel-two-col-right > div:nth-of-type(1) {
		flex: 1.5 1;
		flex-basis: 564px;
		margin-right: 0.9075rem;
	}
	.panel-two-col-right > div:nth-of-type(2) {
		flex: 0.666 1;
		flex-basis: 369px;
		margin-left: 0.9075rem;
	}
	div[class^="panel-"] p > img,
	div[class^="panel-"] p > a > img {
		display: block;
		margin: auto;
	}
}

/* LARGE UP */
@media only screen and (min-width: 64.063em) {
	.homepage .intro-panel h1 {
		font-size: 46px;
		line-height: 1.19;
	}
	.homepage .intro-panel p {
		line-height: 1.99;
		font-size: 19px;
		letter-spacing: 0.4px;
	}
}




/* HEADER */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 30;
	margin: 10px 0px 15px;
}
.mobile-container {
	display: flex;
	align-items: center;
}
.mobile-container button[name="site-search"] {
	font-size: 19px;
}
.mobile-container .hamburger {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 56px;
	height: 37px;
	margin-left: 10px;
	color: #fff;
	font-size: 20px;
}

.mobile-container .hamburger::before {
	content: "";
	position: absolute;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #888;
}
.mobile-container .hamburger.active i.fa-navicon,
.mobile-container .hamburger i.fa-times {
	opacity: 0;
	position: absolute;
}
.mobile-container .hamburger i.fa-navicon,
.mobile-container .hamburger.active i.fa-times {
	opacity: 1;
	position: absolute;
}

.mobile-container .social-wrapper {
	text-align: center;
	margin: 0 0.9075rem 32px;
}
.mobile-container .social-wrapper h3 {
	font-weight: 300;
	font-size: 15px;
	line-height: 1;
	letter-spacing: 0;
	display: inline-block;
	padding: 0 6px 8.5px;
	margin-bottom: 10.5px;
	border-bottom: 1px solid;
	border-color: #00bfd7;
	color: #fff;
}
.mobile-container ul.social {
	list-style: none;
	margin-bottom: 30px;
}
.mobile-container ul.social li {
	display: inline-block;
	font-size: 25px;
	color: #fff;
	margin: 0 5px;
}
nav.desktop {
	display: none;
}
@media only screen and (min-width: 64.063em) {
	header {
		display: block;
		margin-bottom: 30px;
	}
	header a.logo {
		display: block;
		width: calc(100% - 1.815rem);
		max-width: 483px;
		margin: 40px auto 60px;
	}
	nav.desktop {
		display: flex;
		width: 100%;
		position: relative;
	}

}




/* FOOTER */
footer {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}
footer .main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% - 1.815rem);
	max-width: 1250px;
	margin: 0 auto;
}
footer .even-split {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 1%;
	padding: 0;
	margin: 0 0.9075rem;
	border: 1px solid black;
}

footer .logo {
	width: 201px;
	max-width: 100%;
	margin: 0 auto 20px;
	position: relative;
	z-index: 2;
}

footer address {
	margin: 0 0.9075rem;
	display: inline-block;
}
footer address ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}
footer address li {
	display: inline-block;
	word-break: break-word;
	margin-bottom: 15px;
	position: relative;
}
footer address li.phone::before {
	content: "\f095";
	font-family: FontAwesome;
	position: absolute;
	top: 0;
	left: 0;
	transform: scaleX(-1);
}
footer address li.mail::before {
	content: "\f041";
	font-family: FontAwesome;
	position: absolute;
	top: 0;
	left: 0;
}
footer address li.email::before {
	content: "\f0e0";
	font-family: FontAwesome;
	position: absolute;
	top: 0;
	left: 0;
}

footer .social-wrapper {
	text-align: center;
	margin: 0 0.9075rem 32px;
}
footer ul.social {
	list-style: none;
	margin-bottom: 15px;
}
footer ul.social li {
	display: inline-block;
	font-size: 22px;
	margin: 0 5px;
}

footer .language {
	margin: 0 1.815rem 30px;
	position: relative;
}
footer .language select {
	font-size: 14px;
	line-height: 1;
	color: #333;
	margin: 0;
	height: 32px;
	padding: 0 5px;
	position: inherit;
	z-index: 1;
}
footer .language i.fa {
	position: absolute;
	top: 7px;
	right: 8.5px;
	z-index: 2;
	pointer-events: none;
}
footer .language p {
	font-size: 13px;
	color: #333;
	text-align: right;
}

footer nav.footer {
	position: relative;
	margin: 0;
	padding: 0;
	margin: 0 auto;
	margin-bottom: 15px;
}

footer p.copyright {
	font-weight: 300;
	font-size: 16px;
	line-height: 1;
}

footer .acknowledgments {
	padding: 20px 0.9075rem 50px;
	text-align: center;
	position: relative;
	z-index: 2;
}
footer .sv-logo {
	width: 194px;
}

@media only screen and (min-width: 40.063em) {
	
}
@media only screen and (min-width: 64.063em) {
	
}
