:root {
	--black: #333;

	--white: #fff;

	--purple: #781d7e;

	--yellow: #eeb111;

	--pink: #ed174f;

	--green: #20924a;

	--ubuntu: 'Ubuntu', sans-serif;
	--bungee: 'Bungee', cursive;

	--control-width-sm: 940px;
	--control-width: 1024px;
	--control-width-lg: 1200px;

	--transition-timing: 0.35s ease;
}
/*
CHEAT SHEET

FLUID CALC
calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));

/*
|-----------------------------------------------------------------------------------------------------------
| RESET STYLES
|-----------------------------------------------------------------------------------------------------------
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,center,dl,
dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	box-sizing: border-box;
	vertical-align: bottom;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	font-family: var(--ubuntu);
	font-weight: 400;
	line-height: 1;
	color: var(--black);
}
p ol,
p ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,
button:hover,
button:focus,
.button,
.button:hover,
.button:focus {
	margin: 0;
	padding: 0;
	background-color: transparent;
	box-shadow: none;
	border: none;
	outline: none;
}
.clearfix {
	overflow: auto;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* BASIC STYLES */
.wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}

.control-height {
	max-height: 500px;
	overflow: hidden;
}
.control-height::after {
	content: "";
	position: absolute;
	top: 60%;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(to top, rgba(255,255,255,1) 40px, rgba(255,255,255,0));
	opacity: 1;
	pointer-events: none;
}
.control-height button {
	font: 600 14px/1 var(--ubuntu);
	color: var(--pink);
	position: absolute;
	bottom: 27px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}
.control-height button i {
	color: var(--yellow);
	margin-left: 5px;
}
.control-height button::before {
	content: "READ MORE";
}
.control-height.active {
	max-height: 1000px;
	padding-bottom: 20px;
}
.control-height.active button {
	bottom: 0px;
}
.control-height.active button i {
	transform: rotate(-180deg);
}
.control-height.active button::before {
	content: "CLOSE";
}
.control-height.active::after {
	opacity: 0;
}

.control-width {
	position: relative;
	width: 100%;
	max-width: var(--control-width);
	margin: 0 auto;
	padding: 0 15px;
	margin-bottom: 30px;
}
.control-width.lg {
	max-width: var(--control-width-lg);
}
.control-width.sm {
	max-width: var(--control-width-sm);
}

.textbox a,
.textbox a:link,
.textbox a:visited,
.textbox a:focus {
	text-decoration: none;
	color: var(--pink);
	font-family: inherit;
	font-weight: 700;
	text-decoration: none;
	transition-duration: 100ms;
	transition-timing-function: ease;
}
nav ul {
	list-style: none;
}
nav li.item {
	position: relative;
}
p,
table tr th,
table tr td {
	font: 400 16px/1.5 var(--ubuntu);
	font-style: normal;
	color: var(--black);
	text-rendering: optimizeLegibility;
}
.content p,
.textbox p {
	margin-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--bungee);
	font-style: normal;
	line-height: 1.4;
	color: var(--black);
}
h1 {
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 20px;
}
h2 {
	font-size: 26px;
	margin-bottom: 20px;
}
h3 {
	font-size: 24px;
	margin-bottom: 20px;
}
h4 {
	font-size: 22px;
	margin-bottom: 20px;
}
h5 {
	font-size: 20px;
	margin-bottom: 20px;
}
h6 {
	font-size: 16px;
	font-weight: 900;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a,
.item > a,
h1 > a:link,
h2 > a:link,
h3 > a:link,
h4 > a:link,
h5 > a:link,
h6 > a:link,
.item > a:link {
	font: inherit;
	color: inherit;
	text-decoration: none;
	position: relative;
	z-index: 1;
	display: inline-block;
}
@media screen and (min-width: 40.063em) {
	p,
	table tr th,
	table tr td {
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 48px;
		margin-bottom: 30px;
	}
	h2 {
		font-size: 48px;
	}
	h3 {
		font-size: 36px;
	}
	h4 {
		font-size: 32px;
	}
	h5 {
		font-size: 28px;
	}
	.control-height {
		max-height: none;
	}
	.control-height button:last-child {
		display: none;
	}
	.control-height::after {
		display: none;
	}
	.control-height button {
		display: none
	}
	.control-height.active {
		max-height: none;
		padding-bottom: 0px;
	}
}
@media screen and (min-width: 64.063em) {
	p,
	table tr th,
	table tr td {
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 48px;
		margin-bottom: 30px;
	}
	h2 {
		font-size: 48px;
	}
	h3 {
		font-size: 36px;
	}
	h4 {
		font-size: 32px;
	}
	h5 {
		font-size: 28px;
	}
}

/* SLIDE */
.slide,
.slide > a,
.slide picture {
	display: block;
	position: relative;
}
.slide video,
.slide picture img {
	width: 100%;
}

/* LOGO */
a.logo {
	display: block;
}

/* SOCIAL */
ul.social {
	list-style: none;
	text-align: center;
}
.social li.item {
	display: inline-block;
	color: var(--white);
}
.social li.item:last-child {
	margin-right: 0px;
}
.social li.item:first-child {
	margin-left: 0px;
}




/* PLAY BUTTON */
button.video-play,
.video-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 60px;
	width: 60px;
	z-index: 5;
}
@media screen and (max-width: 64em) and (min-width: 40.063em) {
	button.video-play,
	.video-play {
		height: 74px;
		width: 74px;
	}
}
@media screen and (min-width: 64.063em) {
	button.video-play,
	.video-play {
		height: 88px;
		width: 88px;
	}
}




/* MORE-ALL LINK */
.sh-more-link {
	display: inline-block;
	font-family: var(--ubuntu);
	color: var(--pink);
}
.sh-more-link i {
	color: var(--yellow);
}




/* HIDERS */
.hide {
	display: none;
}
@media screen and (max-width: 40em) {
	.hide-small {
		display: none;
	}
}
@media screen and (max-width: 64em) {
	.hide-medium-down {
		display: none;
	}
}
@media screen and (min-width: 40.063em) {
	.hide-medium-up {
		display: none;
	}
}
@media screen and (min-width: 64.063em) {
	.hide-large-up {
		display: none;
	}
}




/* HEADER */
header {
	position: relative;
	height: 78px;
}
header .control-width {
	padding: 0px 0px 20px;
	margin-bottom: 0px;
	height: 100%;
	z-index: 5;
	max-width: var(--control-width);
}
header a.logo {
	position: absolute;
	width: 100%;
	max-width: 130px;
	left: 50%;
	top: 10px;
	transform: translate(-50%);
	z-index: 1;
}
header .nav-indy-container,
header .nav-primary-container {
	display: none;
}
.search-control {
	
}
button:focus {
	outline: -webkit-focus-ring-color auto 5px;
}
.search-control:hover,
.search-control:focus {
	
}
.search-control i {
	font-size: 21px;
}
header .site-search-dd {
	display: none;
	position: absolute;
}
header .site-search-dd.active {
	display: block;
	background-color: var(--white);
	z-index: 5;
	top: 100%;
	bottom: auto;
	left: 0px;
	right: 0px;
	padding: 0px 30px;
}
header .site-search-dd form {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	max-width: var(--control-width);
	height: 100%;
	margin: auto;
}
header .site-search-dd form input {
	border: none;
	background-color: rgba(0,0,0,0);
	box-shadow: none;
	padding: 0px;
	margin: 0px;
	font: 800 32px/1 palatino, sans-serif;
	height: auto;
	color: var(--black);
	flex: 1 1 1%;
	max-width: 75%;
}
header .site-search-dd form input::placeholder {
	color: var(--black);
	opacity: 1;
}
header .site-search-dd form button.search-button {
	padding: 0px;
	font-size: 21px;
}
header .site-search-dd form button.close-search {
	
}
@media screen and (min-width: 64.063em) {
	header .site-search-dd.active {
		display: block;
		background-color: var(--white);
		z-index: 5;
	}
	header .site-search-dd form button.search-button {
		width: 72px;
		min-width: 72px;
		height: 72px;
		margin: 0px 40px 0px 20px;
	}
	header .site-search-dd form input {
		font-size: 60px;
	}
}
@media screen and (min-width: 64.063em) {
	header {
		height: auto;
	}
	header a.logo {
		max-width: 216px;
		top: -20px;
		left: 0px;
		transform: none;
	}
	header .nav-indy-container,
	header .nav-primary-container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	header .nav-indy-container {
		margin-bottom: 25px;
		margin-right: 75px;
	}
	header .nav-indy-container ul.nav-indy-style > li.item {
		padding: 0px 8px;
	}
	header .nav-indy-container ul.nav-indy-style > li.item:last-child {
		padding-right: 0px;
	}
	header .nav-indy-container .action-item {
		top: -5px;
	}
	header .nav-indy-container > ul.social {
		margin-left: 75px;
	}
	header .nav-indy-container > .action-item {
		margin-left: 35px;
	}
	header .nav-primary-container .action-item {
		margin-left: 100px;
	}
	header .nav-primary-container ul.nav-primary-style > li.item {
		padding: 0px 11.5px;
	}
	.search-control {
		top: -10px;
		right: 0px;
	}
	.search-control span {
		display: none;
	}
}
@media screen and (max-width: 80em) and (min-width: 64.063em) {
	header .nav-indy-container > .action-item {
		margin-left: calc(14px + (35 - 15) * ((100vw - 1024px) / (1280 - 1024)));
	}
	header .nav-indy-container > ul.social {
		margin-left: calc(14px + (74 - 15) * ((100vw - 1024px) / (1280 - 1024)));
	}
	header .nav-primary-container .action-item {
		margin-left: calc(14px + (100 - 15) * ((100vw - 1024px) / (1280 - 1024)));
	}
}



/* FOOTER */
footer .engagement {
	position: relative;
	padding: 80px 30px 20px;
	margin-bottom: 0px;
}
footer .engagement::before {
	content: "";
	display: block;
	position: absolute;
	left: -50vw;
	right: -50vw;
	top: 0px;
	bottom: 0px;
	background-color: var(--black);
	z-index: 1;
}
footer .engagement > * {
	position: relative;
	z-index: 2;
	margin-bottom: 55px;
}
footer .engagement h3 {
	font: 800 44px/1 var(--bungee);
	color: var(--white);
}
footer .engagement h3 i {
	font-size: 40px;
	color: orange;
	margin-right: 15px;
	margin-bottom: 20px;
}
footer .engagement p {
	font: 400 18px/1.4 var(--ubuntu);
	color: var(--white);
	margin-bottom: 22px;
}
footer .engagement a.sh-more-link {
}
footer nav.footer {
	
}
footer ul.social {
	margin-bottom: 48px;
}
footer a.logo {
	width: 100%;
	max-width: 280px;
	margin: 0 auto 40px;
}
footer address.visitor-center {
	
}
footer address.visitor-center h3 {
	
}
footer .partners-wrapper {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}
footer .partners-wrapper img {
	margin: 0px 15px 40px;
}
footer .copyright {
	font: 600 13px/1.2 var(--ubuntu);
	text-align: center;
	margin-bottom: 20px;
}
@media screen and (min-width: 40.063em) {
	footer .engagement {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		max-width: var(--control-width);
	}
	footer .engagement > * {
		flex: 1 1 1%;
		margin: 0 10px 55px;
	}
}
@media screen and (min-width: 64.063em) {
	nav.footer ul.nav-footer-style {
		text-align: center;
	}
	nav.footer ul.nav-footer-style > li.item {
		display: inline-block;
		margin-bottom: 0px;
	}
	footer .main {
		position: relative;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		max-width: 810px;
		margin: auto;
	}
	footer .main ul.social {
		flex: 1 1 100%;
	}
	footer a.logo {
		position: absolute;
		top: -22px;
		left: -170px;
	}
	footer .county-list-wrapper {
		max-width: 575px;
	}
	footer address.visitor-center {
		position: absolute;
		top: -25px;
		right: -150px;
	}
}
@media screen and (max-width: 75em) and (min-width: 64.063em) {
	
	footer a.logo {
		left: calc(-83px + (-170 - -83) * ((100vw - 1024px) / (1200 - 1024)));
	}
	footer address.visitor-center {
		right: calc(-10px + (-150 - -10) * ((100vw - 1024px) / (1200 - 1024)));
	}
	footer .county-list-wrapper {
		max-width: calc(400px + (575 - 400) * ((100vw - 1024px) / (1200 - 1024)));
	}
}
